*{
	margin: 0;
	padding: 0;
	font-family: Times New Roman;
}
body{
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../background.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
}
/* The Buttons are placed here */
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li{
	display: inline-block;
}

.nav-area li a{
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 20px;
}
/* #10423c */
.nav-area li a:hover{
	background-color: #fff;
  	border: none;
  	color: black;
  	padding: 16px 32px;
  	text-align: center;
  	font-size: 20px;
  	margin: 4px 2px;
  	opacity: 1;
  	transition: 0.3s;
}
.logo img{
	width: 100px;
	height: auto;
	float: left;
}
.welcome-text{
	position: absolute;
	width: 600px;
	height: 200px;
	margin: 20% 30%;
	text-align: center;
	font-size: 25px;
}
.welcome-text h1{
	text-align: center;
	color: #fff;
}
.welcome-text h2{
	text-align: center;
	color: #bdbcb9;
}

.BuyNow a{
	border: 1px solid #fff;
	padding: 10px 25px;
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	text-align: center;
	font-size: 30px;
	display: inline-block;
}
.BuyNow a:hover{
	background-color: #fff;
  	border: none;
  	color: black;
  	padding: 16px 32px;
  	text-align: center;
  	margin: 4px 2px;
  	opacity: 1;
  	transition: 0.3s;	
}
.footer{
	position: absolute;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
}

.footer .column{
	text-align: center;
	color: #fff;
}

.C1{
	float: left;
	width: 33.33%
}
.C2{
	float: left;
	width: 33.33%;
}
.C3{
	float: left;
	width: 33.33%;
}
.About, .Contact, .testimonial{
	font-size: 30px;
	text-decoration: underline;
	color: #fff;
}
.Info, .Contact_info, .Testimonials_info{
	font-size: 20px;
	text-decoration: none;
}
